.mj-container-col {
    background-color: #fff9f4;
}

.mj-btn-col {
    background-image: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}

.mj-orange-text-color {
    color: #fa8451;
}

.mj-indigo-text-color {
    color: #363958;
}